/* line 2, ../sass/partials/_base.scss */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 6, ../sass/partials/_base.scss */
html {
  font-size: 62.5%;
}

/* line 10, ../sass/partials/_base.scss */
img {
  width: 100%;
  height: auto;
}

/* line 15, ../sass/partials/_base.scss */
ul, ol {
  padding: 0;
  margin: 0;
}

/* line 20, ../sass/partials/_base.scss */
mark {
  padding: 5px 8.5px;
  border-radius: 5px;
  background-color: #D2EAFF;
}

/* line 26, ../sass/partials/_base.scss */
figure {
  margin: 0;
}

/* line 30, ../sass/partials/_base.scss */
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-size: 16px;
  word-spacing: -.01em;
  letter-spacing: .01em;
  color: #555555;
  width: 100%;
  font-weight: 400;
  position: relative;
  line-height: 1.65;
  background-color: #f5f5f5;
}
/* line 43, ../sass/partials/_base.scss */
body.scroll_lock {
  overflow: hidden;
}

/* line 48, ../sass/partials/_base.scss */
.inlineSeparator {
  display: inline-flex;
  font-size: 1.25em;
  padding: 0 7.5px;
  color: inherit;
  opacity: .75;
  align-self: center;
  vertical-align: center;
  line-height: 1;
}

/* Backgrounds */
/* line 61, ../sass/partials/_base.scss */
.bg__white {
  background-color: white !important;
}

/* line 65, ../sass/partials/_base.scss */
.bg__off_white {
  background-color: #f5f5f5 !important;
}

/* line 69, ../sass/partials/_base.scss */
.bg__primary {
  background-color: #055DAE !important;
}

/* line 73, ../sass/partials/_base.scss */
.bg__secondary {
  background-color: #00BE20 !important;
}

/* line 77, ../sass/partials/_base.scss */
.bg__secondary_light {
  background-color: #E4FBEF !important;
}

/* line 81, ../sass/partials/_base.scss */
.bg__black {
  background-color: #052B4E !important;
}

/* line 85, ../sass/partials/_base.scss */
.color__primary {
  color: #055DAE !important;
}

/* line 89, ../sass/partials/_base.scss */
.color__secondary {
  color: #00BE20 !important;
}

/* line 93, ../sass/partials/_base.scss */
.color__black {
  color: #052B4E !important;
}

/* line 97, ../sass/partials/_base.scss */
.color__grey_light {
  color: #959595 !important;
}

/* line 101, ../sass/partials/_base.scss */
.color__grey {
  color: #E5E5E5 !important;
}

/* line 105, ../sass/partials/_base.scss */
.color__danger {
  color: #F6515B !important;
}

/* line 109, ../sass/partials/_base.scss */
.color__grey_dark {
  color: #757575 !important;
}

/* line 113, ../sass/partials/_base.scss */
.color__white {
  color: #f5f5f5 !important;
}

/* line 117, ../sass/partials/_base.scss */
.color__default {
  color: #555555 !important;
}

/* line 121, ../sass/partials/_base.scss */
.color__dark {
  color: #353535 !important;
}

/* line 126, ../sass/partials/_base.scss */
.font-sm {
  font-size: 12px !important;
}

/* line 130, ../sass/partials/_base.scss */
.font-default {
  font-size: 14px !important;
}

/* line 134, ../sass/partials/_base.scss */
.font-md {
  font-size: 16px !important;
}

/* line 138, ../sass/partials/_base.scss */
.font-lg {
  font-size: 18px !important;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 138, ../sass/partials/_base.scss */
  .font-lg {
    font-size: 21px !important;
  }
}

/* line 146, ../sass/partials/_base.scss */
.font-heavy {
  font-weight: 900;
}

/* line 150, ../sass/partials/_base.scss */
.font-bold {
  font-weight: 700;
}

/* line 154, ../sass/partials/_base.scss */
.font-medium {
  font-weight: 600;
}

/* line 158, ../sass/partials/_base.scss */
.font-regular {
  font-weight: 400;
}

/* line 162, ../sass/partials/_base.scss */
.text-center {
  text-align: center !important;
}

/* line 166, ../sass/partials/_base.scss */
.text-right {
  text-align: right !important;
}

/* line 170, ../sass/partials/_base.scss */
.text-left {
  text-align: left !important;
}

/* line 174, ../sass/partials/_base.scss */
.text_clipped {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

/* line 178, ../sass/partials/_base.scss */
.caps_upper {
  text-transform: uppercase !important;
}

/* line 182, ../sass/partials/_base.scss */
.caps_normal {
  text-transform: none !important;
}

/* line 186, ../sass/partials/_base.scss */
.container {
  width: auto;
  position: relative;
  max-width: 1170px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 192, ../sass/partials/_base.scss */
  .mainContentWrapper .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

/* line 199, ../sass/partials/_base.scss */
.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

/* line 204, ../sass/partials/_base.scss */
.content_narrow {
  max-width: 970px;
}

/* line 208, ../sass/partials/_base.scss */
.centered {
  float: none;
  margin: 0 auto;
}

/* line 212, ../sass/partials/_base.scss */
.hidden {
  display: none !important;
}

/* Tablets and phablets */
@media only screen and (max-width: 767px) {
  /* line 217, ../sass/partials/_base.scss */
  .hidden-sm {
    display: none !important;
  }

  /* line 221, ../sass/partials/_base.scss */
  .text-center-sm {
    text-align: center !important;
  }
}
/* Tablets and phablets */
@media only screen and (min-width: 768px) {
  /* line 227, ../sass/partials/_base.scss */
  .visible_sm {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}
/* line 234, ../sass/partials/_base.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* line 243, ../sass/partials/_base.scss */
h1 {
  font-size: 48px;
}

/* line 247, ../sass/partials/_base.scss */
h2 {
  font-size: 32px;
}

/* line 251, ../sass/partials/_base.scss */
h3 {
  font-size: 28px;
}

/* line 255, ../sass/partials/_base.scss */
h4 {
  font-size: 21px;
}

/* line 259, ../sass/partials/_base.scss */
h5 {
  font-size: 18px;
}

/* line 263, ../sass/partials/_base.scss */
h6 {
  font-size: 16px;
}

/* line 267, ../sass/partials/_base.scss */
p {
  margin: 0;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
}
/* line 271, ../sass/partials/_base.scss */
p + p {
  padding-top: .5em;
}

/* line 276, ../sass/partials/_base.scss */
address, address span {
  display: block;
}

/* line 280, ../sass/partials/_base.scss */
.margin_top_sm {
  margin-top: 10px !important;
}

/* line 284, ../sass/partials/_base.scss */
.margin_top_md {
  margin-top: 20px !important;
}

/* line 288, ../sass/partials/_base.scss */
.margin_bottom_lg {
  margin-bottom: 30px !important;
}

/* line 292, ../sass/partials/_base.scss */
.margin_bottom_xl {
  margin-bottom: 50px !important;
}

/* line 296, ../sass/partials/_base.scss */
.margin_bottom_sm {
  margin-bottom: 10px !important;
}

/* line 300, ../sass/partials/_base.scss */
.margin_bottom_md {
  margin-bottom: 20px !important;
}

/* line 304, ../sass/partials/_base.scss */
.margin_top_lg {
  margin-top: 30px !important;
}

/* line 308, ../sass/partials/_base.scss */
.margin_top_xl {
  margin-top: 50px !important;
}

/* line 312, ../sass/partials/_base.scss */
.no_margin {
  margin: 0 !important;
}

/* line 316, ../sass/partials/_base.scss */
.padding-top-none {
  padding-top: 0 !important;
}

/* line 320, ../sass/partials/_base.scss */
.promptImageHolder {
  max-width: 126px;
  display: block;
  margin-bottom: 20px;
}
/* line 325, ../sass/partials/_base.scss */
.promptImageHolder > img {
  display: block;
  width: 100%;
}

/* line 331, ../sass/partials/_base.scss */
.emptyStateWrapper {
  position: relative;
  padding: 40px 0;
  max-width: 400px;
  margin: auto;
  z-index: 10;
  color: #353535;
}

/* line 340, ../sass/partials/_base.scss */
.emptyStateIlloHolder {
  margin: 20px auto;
  clear: both;
}
/* line 344, ../sass/partials/_base.scss */
.emptyStateIlloHolder img {
  height: auto;
  max-width: 128px;
}

/* line 351, ../sass/partials/_base.scss */
.alert {
  display: block;
  border: none;
  padding: 0;
  position: fixed;
  width: 100%;
  top: 80px;
  z-index: 1000;
  background-color: transparent;
  color: #555555;
}

/* line 363, ../sass/partials/_base.scss */
.alertWrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  border-radius: 10px;
  flex-direction: column;
  max-width: 320px;
  margin: auto;
  padding: 10px 15px;
  background-color: white;
  flex-direction: row;
  align-items: center;
  border: 1px solid #E5E5E5;
  justify-content: space-between;
}

/* line 378, ../sass/partials/_base.scss */
.alertBtn {
  flex-shrink: 0;
  /* Mobile devices */
  /* Mobile devices */
}
@media only screen and (min-width: 576px) {
  /* line 378, ../sass/partials/_base.scss */
  .alertBtn {
    margin-left: 15px;
  }
}
@media only screen and (max-width: 575px) {
  /* line 378, ../sass/partials/_base.scss */
  .alertBtn {
    margin-top: 15px;
  }
}

/* line 390, ../sass/partials/_base.scss */
.alert-primary .alertWrapper {
  box-shadow: inset 4px 0 #055DAE;
  color: #055DAE;
}

/* line 395, ../sass/partials/_base.scss */
.alert-secondary .alertWrapper {
  box-shadow: inset 4px 0 #00BE20;
  color: #00BE20;
}

/* line 400, ../sass/partials/_base.scss */
.alert-danger .alertWrapper {
  box-shadow: inset 4px 0 #F6515B;
  color: #052B4E;
}

/* line 405, ../sass/partials/_base.scss */
.alert-success .alertWrapper {
  box-shadow: inset 4px 0 #00BE20;
  color: #052B4E;
}

/* line 410, ../sass/partials/_base.scss */
.alert-info .alertWrapper {
  box-shadow: inset 4px 0 #055DAE;
  color: #052B4E;
}

/* line 415, ../sass/partials/_base.scss */
.alert-dismissible .close {
  top: 10px;
}

/* line 419, ../sass/partials/_base.scss */
.badge {
  border-radius: 25px;
  padding: .85em 1.5em;
  background-color: #d5d5d5;
  color: inherit;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
}

/* line 429, ../sass/partials/_base.scss */
.badge-default {
  background-color: #E5E5E5;
  color: #555555;
}

/* line 434, ../sass/partials/_base.scss */
.badge-primary {
  background-color: #D2EAFF;
  color: #055DAE;
}

/* line 439, ../sass/partials/_base.scss */
.badge-secondary {
  background-color: #E4FBEF;
  color: #00BE20;
}

/* line 444, ../sass/partials/_base.scss */
.badge-info {
  background-color: #FBF2E4;
  color: #B46F08;
}

/* line 449, ../sass/partials/_base.scss */
.badge-danger {
  background-color: #FFDEE0;
  color: #F6515B;
}

/* line 454, ../sass/partials/_base.scss */
.badge-success {
  background-color: #E4FBEF;
  color: #00BE20;
}

/* line 1, ../sass/partials/_form.scss */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #959595;
}

/* line 6, ../sass/partials/_form.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #959595;
}

/* line 11, ../sass/partials/_form.scss */
:-ms-input-placeholder {
  /* IE 10+ */
  color: #959595;
}

/* line 16, ../sass/partials/_form.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #959595;
}

/* line 21, ../sass/partials/_form.scss */
fieldset {
  padding-bottom: 10px;
}
/* line 24, ../sass/partials/_form.scss */
fieldset + fieldset {
  padding-top: 30px;
  margin-top: 20px;
  border-top: 1px solid #d5d5d5;
}

/* line 31, ../sass/partials/_form.scss */
.form_group_item {
  position: relative;
}

/* line 35, ../sass/partials/_form.scss */
.form_row_title {
  position: relative;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 35, ../sass/partials/_form.scss */
  .form_row_title {
    font-size: 16px;
    text-align: right;
  }
}

/* line 44, ../sass/partials/_form.scss */
.form_body {
  max-width: 600px;
}

/* line 48, ../sass/partials/_form.scss */
.input-group {
  z-index: 1;
}
/* line 51, ../sass/partials/_form.scss */
.input-group > .form-control {
  border-right: none;
}
/* line 55, ../sass/partials/_form.scss */
.input-group + .input-group {
  margin-top: 1em;
}

/* line 60, ../sass/partials/_form.scss */
.input-group-addon {
  background: #f5f5f5;
  color: #052B4E;
  padding: 0 15px;
  align-self: center;
  height: 100%;
  line-height: 45px;
  border-left: none;
  border-radius: 0 5px 5px 0;
  width: auto;
}
/* line 71, ../sass/partials/_form.scss */
.labeledForm .input-group-addon {
  line-height: 55px;
}

/* line 76, ../sass/partials/_form.scss */
.form-group {
  position: relative;
  margin-bottom: 20px;
}

/* line 82, ../sass/partials/_form.scss */
input:focus {
  outline: none;
}

/* line 87, ../sass/partials/_form.scss */
.help-text {
  font-size: 13px;
  color: #757575;
  font-style: italic;
  margin-top: 7.5px;
}

/* line 94, ../sass/partials/_form.scss */
.text-error {
  font-size: 12px;
  color: red !important;
}

/* line 99, ../sass/partials/_form.scss */
.form-control {
  padding: 8px 12px;
  font-size: 1em;
  line-height: normal;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  outline: 0;
  width: 100%;
  min-height: 45px;
  position: relative;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  overflow: hidden;
  color: #353535;
  text-indent: .01px;
  -moz-appearance: none;
  -webkit-appearance: none;
  vertical-align: middle;
}
/* line 119, ../sass/partials/_form.scss */
.form-control[readonly] {
  background-color: white;
}
/* line 123, ../sass/partials/_form.scss */
.form-control.labeledFormInput {
  padding: 25px 12px 5px;
  min-height: 55px;
}
/* line 128, ../sass/partials/_form.scss */
.searchBar .form-control {
  padding-left: 45px;
}
/* line 132, ../sass/partials/_form.scss */
.form-control:focus {
  outline: 0;
  outline: none;
  border-color: #055DAE;
  box-shadow: none;
}

/* line 140, ../sass/partials/_form.scss */
.control-label {
  text-transform: none;
  font-size: 1.4rem;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 7.5px;
  line-height: 1.4rem;
  color: inherit;
  font-weight: 600;
}
/* line 150, ../sass/partials/_form.scss */
.labeledForm .control-label {
  padding: 0 12px;
  font-size: .85em;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: absolute;
  top: 10px;
  z-index: 5;
}

/* line 160, ../sass/partials/_form.scss */
select.form-control {
  background: white url(../img/icons/arrow-down.png) right center no-repeat;
  padding-right: 25px;
  background-position-x: 97%;
}
/* line 165, ../sass/partials/_form.scss */
select.form-control:focus {
  outline: none;
  background: white url(../img/icons/arrow-down.png) right center no-repeat;
}

/* line 171, ../sass/partials/_form.scss */
.inputaffixed {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
}
/* line 183, ../sass/partials/_form.scss */
.inputaffixed:focus {
  border: 1px solid #055DAE;
}

/* line 188, ../sass/partials/_form.scss */
.inputSuffixed {
  flex-direction: row-reverse;
}

/* line 192, ../sass/partials/_form.scss */
.inputControl {
  padding-left: 42px;
  position: relative;
  z-index: 3;
  border: none;
  padding: 0;
  background-color: transparent;
  flex-grow: 1;
  padding: 10px 20px 10px 10px;
}
/* line 202, ../sass/partials/_form.scss */
.inputControl:focus {
  border: none;
}

/* line 207, ../sass/partials/_form.scss */
.inputfixture {
  z-index: 5;
  flex-shrink: 0;
}
/* line 212, ../sass/partials/_form.scss */
.inputPrefixed .inputfixture {
  padding-left: 15px;
  padding-right: 10px;
  border-right: 1px solid #E5E5E5;
}
/* line 218, ../sass/partials/_form.scss */
.inputSuffixed .inputfixture {
  padding-left: 10px;
  padding-right: 15px;
  border-left: 1px solid #E5E5E5;
}

/* line 225, ../sass/partials/_form.scss */
.radio, .checkbox {
  line-height: 1;
}
/* line 228, ../sass/partials/_form.scss */
.radio + .radio, .radio + .checkbox, .checkbox + .radio, .checkbox + .checkbox {
  margin-top: 15px;
}

/* line 233, ../sass/partials/_form.scss */
input[type="radio"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
  position: relative;
  margin-top: 3px;
  margin-right: 7.5px;
  vertical-align: top;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
/* line 246, ../sass/partials/_form.scss */
.controlSummary input[type="radio"], .controlSummary
.radio input[type="radio"], .controlSummary
.radio-inline input[type="radio"] {
  margin-top: 6px;
}
/* line 250, ../sass/partials/_form.scss */
input[type="radio"]:focus,
.radio input[type="radio"]:focus,
.radio-inline input[type="radio"]:focus {
  outline: none;
}
/* line 253, ../sass/partials/_form.scss */
input[type="radio"]:before, input[type="radio"]:after,
.radio input[type="radio"]:before,
.radio input[type="radio"]:after,
.radio-inline input[type="radio"]:before,
.radio-inline input[type="radio"]:after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  -moz-transition: 240ms;
  -o-transition: 240ms;
  -webkit-transition: 240ms;
  transition: 240ms;
}
/* line 262, ../sass/partials/_form.scss */
input[type="radio"]:before,
.radio input[type="radio"]:before,
.radio-inline input[type="radio"]:before {
  position: absolute;
  left: 0;
  top: -3px;
  background-color: #055DAE;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
/* line 269, ../sass/partials/_form.scss */
input[type="radio"]:after,
.radio input[type="radio"]:after,
.radio-inline input[type="radio"]:after {
  position: relative;
  top: -3px;
  border: 2px solid #959595;
}
/* line 274, ../sass/partials/_form.scss */
input[type="radio"]:checked:before,
.radio input[type="radio"]:checked:before,
.radio-inline input[type="radio"]:checked:before {
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
/* line 277, ../sass/partials/_form.scss */
input[type="radio"]:disabled:checked:before,
.radio input[type="radio"]:disabled:checked:before,
.radio-inline input[type="radio"]:disabled:checked:before {
  background-color: #959595;
}
/* line 280, ../sass/partials/_form.scss */
input[type="radio"]:checked:after,
.radio input[type="radio"]:checked:after,
.radio-inline input[type="radio"]:checked:after {
  border-color: #055DAE;
}
/* line 283, ../sass/partials/_form.scss */
input[type="radio"]:disabled:after, input[type="radio"]:disabled:checked:after,
.radio input[type="radio"]:disabled:after,
.radio input[type="radio"]:disabled:checked:after,
.radio-inline input[type="radio"]:disabled:after,
.radio-inline input[type="radio"]:disabled:checked:after {
  border-color: #959595;
}

/* line 289, ../sass/partials/_form.scss */
input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: relative;
  border: none;
  margin-bottom: -6px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}
/* line 298, ../sass/partials/_form.scss */
input[type="checkbox"]:focus,
.checkbox input[type="checkbox"]:focus,
.checkbox-inline input[type="checkbox"]:focus {
  outline: none;
}
/* line 301, ../sass/partials/_form.scss */
input[type="checkbox"]:after,
.checkbox input[type="checkbox"]:after,
.checkbox-inline input[type="checkbox"]:after {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  margin-top: -2px;
  margin-right: 7.5px;
  border: 2px solid #959595;
  border-radius: 3px;
  -moz-transition: 240ms;
  -o-transition: 240ms;
  -webkit-transition: 240ms;
  transition: 240ms;
}
/* line 312, ../sass/partials/_form.scss */
input[type="checkbox"]:checked:before,
.checkbox input[type="checkbox"]:checked:before,
.checkbox-inline input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  top: 0;
  left: 7px;
  display: table;
  width: 6px;
  height: 14px;
  border: 2px solid #f5f5f5;
  border-top-width: 0;
  border-left-width: 0;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 325, ../sass/partials/_form.scss */
input[type="checkbox"]:checked:after,
.checkbox input[type="checkbox"]:checked:after,
.checkbox-inline input[type="checkbox"]:checked:after {
  background-color: #055DAE;
  border-color: #055DAE;
}
/* line 329, ../sass/partials/_form.scss */
input[type="checkbox"]:disabled:after,
.checkbox input[type="checkbox"]:disabled:after,
.checkbox-inline input[type="checkbox"]:disabled:after {
  border-color: #959595;
}
/* line 332, ../sass/partials/_form.scss */
input[type="checkbox"]:disabled:checked:after,
.checkbox input[type="checkbox"]:disabled:checked:after,
.checkbox-inline input[type="checkbox"]:disabled:checked:after {
  background-color: #E5E5E5;
  border-color: transparent;
}
/* line 337, ../sass/partials/_form.scss */
input[type="checkbox"]:disabled:checked:before,
.checkbox input[type="checkbox"]:disabled:checked:before,
.checkbox-inline input[type="checkbox"]:disabled:checked:before {
  border-color: #959595;
}

/* line 342, ../sass/partials/_form.scss */
.required::after {
  content: "*";
  font-size: 1.025em;
  padding-left: 3px;
  color: red;
}

/* line 349, ../sass/partials/_form.scss */
input[disabled] {
  background-color: #c5c5c5;
}

/* line 353, ../sass/partials/_form.scss */
.radio-inline,
.checkbox-inline {
  padding: 0px;
  display: inline-flex;
  align-items: center;
}
/* line 359, ../sass/partials/_form.scss */
.radio-inline + .radio-inline,
.radio-inline + .checkbox-inline,
.checkbox-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-left: 30px;
}

/* line 365, ../sass/partials/_form.scss */
label {
  font-weight: normal;
}
/* line 369, ../sass/partials/_form.scss */
label.radio-inline + label {
  margin-left: 30px;
}
/* line 374, ../sass/partials/_form.scss */
label.checkbox-inline {
  margin: 5px 0;
  margin-bottom: 0 !important;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
}

/* SVG Icon systems */
/* line 2, ../sass/partials/_custom_icons.scss */
.cust_icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  overflow: hidden;
  vertical-align: middle;
  fill: inherit;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* line 14, ../sass/partials/_custom_icons.scss */
svg {
  display: inline-block;
  width: 100%;
}

/* line 19, ../sass/partials/_custom_icons.scss */
.icon_xs {
  width: 16px;
  height: 16px;
}

/* line 24, ../sass/partials/_custom_icons.scss */
.icon_sm {
  width: 32px;
  height: 32px;
}

/* line 29, ../sass/partials/_custom_icons.scss */
.icon_md {
  width: 24px;
  height: 24px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 29, ../sass/partials/_custom_icons.scss */
  .icon_md {
    width: 48px;
    height: 48px;
  }
}

/* line 39, ../sass/partials/_custom_icons.scss */
.icon_lg {
  width: 64px;
  height: 64px;
}

/* line 44, ../sass/partials/_custom_icons.scss */
.icon_xl {
  width: 64px;
  height: 64px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 44, ../sass/partials/_custom_icons.scss */
  .icon_xl {
    width: 128px;
    height: 128px;
  }
}

/* line 54, ../sass/partials/_custom_icons.scss */
.icon_upload {
  background-image: url(../img/icons/cloud_upload.svg);
}

/* line 1, ../sass/partials/_navigation.scss */
a {
  text-decoration: none;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  color: inherit;
}
/* line 6, ../sass/partials/_navigation.scss */
a:hover, a:focus {
  color: #00BE20;
  text-decoration: none;
}
/* line 12, ../sass/partials/_navigation.scss */
a:focus {
  outline: thin dotted #00BE20;
}
/* line 14, ../sass/partials/_navigation.scss */
.no-touch a:focus {
  outline: none;
}

/* line 20, ../sass/partials/_navigation.scss */
a:link,
button {
  -webkit-tap-highlight-color: rgba(0, 190, 32, 0.35);
  -moz-tap-highlight-color: rgba(0, 190, 32, 0.35);
}

/* line 26, ../sass/partials/_navigation.scss */
button {
  outline: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  width: auto;
  height: auto;
  color: inherit;
  background: 0 0;
  cursor: pointer;
  text-align: center;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
/* line 39, ../sass/partials/_navigation.scss */
button:focus, button:visited {
  outline: none;
}

/* line 44, ../sass/partials/_navigation.scss */
.btn {
  border-radius: 1.25em;
  padding: .65em 1.4em;
  font-size: 14px;
  font-weight: 600;
  background-color: transparent;
  color: #f5f5f5;
  fill: #f5f5f5;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 100%;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  text-decoration: none !important;
  will-change: background-color, color;
  /* Tablets and phablets */
}
/* line 64, ../sass/partials/_navigation.scss */
.btn + [class*="btn"], .btn + [class*="Btn"] {
  margin-left: 1em;
}
/* line 68, ../sass/partials/_navigation.scss */
.btn > * + * {
  margin-left: 10px;
}
@media only screen and (min-width: 768px) {
  /* line 44, ../sass/partials/_navigation.scss */
  .btn {
    min-width: 100px;
    font-size: 1em;
  }
}
/* line 77, ../sass/partials/_navigation.scss */
.btn:hover, .btn:focus {
  text-decoration: none !important;
  box-shadow: 2px 5px 10px 0 rgba(5, 43, 78, 0.4);
}
/* line 81, ../sass/partials/_navigation.scss */
.no-touch .btn:hover, .no-touch .btn:focus {
  outline: none;
}
/* line 86, ../sass/partials/_navigation.scss */
.btn[disabled], .btn.disabled {
  pointer-events: none;
  color: #f5f5f5;
  background-color: #959595;
}

/* line 93, ../sass/partials/_navigation.scss */
.btnIcon {
  flex-shrink: 0;
  line-height: 1;
}

/* line 99, ../sass/partials/_navigation.scss */
.btn-primary {
  background-color: #055DAE;
  background: #055DAE;
  color: white;
}
/* line 104, ../sass/partials/_navigation.scss */
.btn-primary:hover, .btn-primary:focus {
  background: #052B4E;
  color: #D2EAFF;
}

/* line 111, ../sass/partials/_navigation.scss */
.btn-outline-primary {
  background-color: #D2EAFF;
  border: 1px solid #055DAE;
  color: #353535;
  fill: #353535;
}
/* line 117, ../sass/partials/_navigation.scss */
.btn-outline-primary:hover, .btn-outline-primary:focus {
  background-color: #055DAE;
  color: #f5f5f5;
  fill: #f5f5f5;
  border-color: transparent;
}

/* line 126, ../sass/partials/_navigation.scss */
.btn-default {
  background-color: white;
  border: 1px solid #d5d5d5;
  color: #555555;
  fill: #555555;
}
/* line 132, ../sass/partials/_navigation.scss */
.btn-default:hover, .btn-default:focus {
  background-color: #D2EAFF;
  color: #052B4E;
  fill: #052B4E;
  border-color: transparent;
}

/* line 141, ../sass/partials/_navigation.scss */
.btn-danger {
  color: #F6515B;
  background-color: #FFDEE0;
}
/* line 145, ../sass/partials/_navigation.scss */
.btn-danger:hover, .btn-danger:focus {
  background-color: #F6515B;
  color: #f5f5f5;
}

/* line 151, ../sass/partials/_navigation.scss */
.btn-control {
  background-color: #f5f5f5;
  color: #757575;
  fill: #757575;
}
/* line 156, ../sass/partials/_navigation.scss */
.btn-control:hover, .btn-control:focus {
  background-color: white;
  color: #055DAE;
  fill: #055DAE;
  box-shadow: unset;
}

/* line 165, ../sass/partials/_navigation.scss */
.btn-sm.btn,
.btn-group-sm > .btn {
  font-size: 13px;
}

/* line 170, ../sass/partials/_navigation.scss */
.btn-lg.btn,
.btn-group-lg > .btn {
  font-size: 18px;
}

/* line 175, ../sass/partials/_navigation.scss */
.btn-link {
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  display: inline-block;
  text-decoration: underline;
  color: #055DAE;
}
/* line 183, ../sass/partials/_navigation.scss */
.btn-link:hover, .btn-link:focus {
  color: #959595;
  text-decoration: none;
}
/* line 189, ../sass/partials/_navigation.scss */
.btn-link:active, .btn-link[disabled] {
  color: #757575;
  outline: none;
}

/* line 195, ../sass/partials/_navigation.scss */
.dialogDismiss {
  position: absolute;
  right: 15px;
  top: 10px;
  display: flex;
  z-index: 1000;
}

/* line 203, ../sass/partials/_navigation.scss */
.close_dialog {
  z-index: 5;
  width: 32px;
  height: 32px;
  font-size: 10px;
  text-align: center;
  border-radius: 10px;
  position: relative;
}
/* line 212, ../sass/partials/_navigation.scss */
.close_dialog::before, .close_dialog::after {
  position: absolute;
  content: "";
  width: 2px;
  background: #959595;
  height: 16px;
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -1px;
}
/* line 223, ../sass/partials/_navigation.scss */
.close_dialog::before {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 226, ../sass/partials/_navigation.scss */
.close_dialog::after {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 229, ../sass/partials/_navigation.scss */
.close_dialog:hover, .close_dialog:focus {
  background-color: #f5f5f5;
}
/* line 232, ../sass/partials/_navigation.scss */
.close_dialog:hover::before, .close_dialog:hover::after, .close_dialog:focus::before, .close_dialog:focus::after {
  background-color: #052B4E;
}

/* pager */
/* line 240, ../sass/partials/_navigation.scss */
.pager {
  display: block;
  *zoom: 1;
}
/* line 78, ../sass/partials/_mixins.scss */
.pager:before, .pager:after {
  content: "";
  display: table;
}
/* line 83, ../sass/partials/_mixins.scss */
.pager:after {
  clear: both;
}
/* line 244, ../sass/partials/_navigation.scss */
.pager > * {
  vertical-align: middle;
  display: inline-block;
}

/* line 250, ../sass/partials/_navigation.scss */
.pager_item {
  display: inline-block;
  margin-right: 10px;
}
/* line 254, ../sass/partials/_navigation.scss */
.pager_item a {
  display: block;
  padding: 5px 12px;
  border-radius: 20px;
  text-transform: capitalize;
  color: #555555;
}
/* line 261, ../sass/partials/_navigation.scss */
.pager_item a:hover {
  background-color: #D2EAFF;
}
/* line 265, ../sass/partials/_navigation.scss */
.pager_item.active a {
  pointer-events: none;
  font-weight: 600;
  color: #055DAE;
  background-color: white;
}

/* line 1, ../sass/partials/_header_nav.scss */
header[role="banner"] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 10, ../sass/partials/_header_nav.scss */
header[role="banner"] [class*="container"] {
  height: 100%;
  position: relative;
}

/* line 16, ../sass/partials/_header_nav.scss */
.mainAppHeader {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-bottom: 1px solid #d5d5d5;
  background-color: white;
}

/* line 23, ../sass/partials/_header_nav.scss */
.navbarWrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  z-index: 1;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

/* line 31, ../sass/partials/_header_nav.scss */
.navbarGroupItem {
  width: auto;
  height: 100%;
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  position: relative;
}

/* line 40, ../sass/partials/_header_nav.scss */
.navBarItemLeft {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  z-index: 5;
  float: left;
  flex-shrink: 0;
}
/* line 48, ../sass/partials/_header_nav.scss */
.navBarItemLeft > * + * {
  padding-left: 20px;
}

/* line 53, ../sass/partials/_header_nav.scss */
.navBarItemRight {
  float: right;
  justify-content: flex-end;
  z-index: 5;
  flex-shrink: 0;
}

/* line 60, ../sass/partials/_header_nav.scss */
.navBarItemCenter {
  flex-grow: 1;
  /* Landscape tablets and desktop or laptops */
}
@media only screen and (max-width: 991px) {
  /* line 60, ../sass/partials/_header_nav.scss */
  .navBarItemCenter {
    width: 100%;
    position: absolute;
    left: 0;
  }
}

/* line 70, ../sass/partials/_header_nav.scss */
.brand_img {
  display: block;
}
/* line 73, ../sass/partials/_header_nav.scss */
header[role="banner"] .brand_img {
  height: 70px;
}

/* line 78, ../sass/partials/_header_nav.scss */
.logo_link {
  padding: 0;
  display: inline-block;
  line-height: 70px;
  width: 95px;
  position: relative;
  height: 100%;
}
/* line 86, ../sass/partials/_header_nav.scss */
.logo_link > img {
  vertical-align: middle;
  display: inline-block;
}

/* line 92, ../sass/partials/_header_nav.scss */
.navMenu {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  width: 100%;
}

/* line 98, ../sass/partials/_header_nav.scss */
.navControlBtn {
  position: relative;
  margin-right: 20px;
}

/* line 103, ../sass/partials/_header_nav.scss */
.countBadge {
  display: inline-flex;
  padding: 3px 6px;
  background-color: #F6515B;
  color: #f5f5f5;
  font-size: 11px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  line-height: 12px;
  position: absolute;
  white-space: nowrap;
  top: 3px;
  right: 3px;
}

/* line 120, ../sass/partials/_header_nav.scss */
.userAccountDetails {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
/* line 124, ../sass/partials/_header_nav.scss */
.userAccountDetails:hover {
  color: inherit;
}

/* line 129, ../sass/partials/_header_nav.scss */
.dsp_tab_row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
/* line 133, ../sass/partials/_header_nav.scss */
.dsp_tab_row.menuLinkItem {
  flex-direction: column;
  justify-content: center;
}

/* line 139, ../sass/partials/_header_nav.scss */
.icon_holder {
  flex-shrink: 0;
}
/* line 142, ../sass/partials/_header_nav.scss */
.dpd_nav_item .icon_holder {
  margin-right: 10px;
  margin-bottom: 0;
}

/* line 148, ../sass/partials/_header_nav.scss */
.bankBranch_switcher {
  margin-left: 20px;
  border-left: 1px solid #E5E5E5;
}

/* line 153, ../sass/partials/_header_nav.scss */
.actViewToggle {
  padding: 2px 15px;
  color: #353535;
  display: block;
}
/* line 158, ../sass/partials/_header_nav.scss */
.actViewToggle:hover, .actViewToggle:focus {
  color: #055DAE;
}

/* line 163, ../sass/partials/_header_nav.scss */
.switchToggleInner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

/* line 169, ../sass/partials/_header_nav.scss */
.switchLabel {
  font-size: 13px;
  color: #959595;
}

/* line 174, ../sass/partials/_header_nav.scss */
.activeBranch {
  font-size: 16px;
  line-height: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
/* line 180, ../sass/partials/_header_nav.scss */
.activeBranch span + span {
  margin-left: 15px;
}

/* line 187, ../sass/partials/_header_nav.scss */
.switchControlLink {
  display: block;
  padding: 0 20px;
  border-left: 1px solid #E5E5E5;
  color: #353535;
}
/* line 193, ../sass/partials/_header_nav.scss */
.switchControlLink:hover, .switchControlLink:focus {
  color: #055DAE;
}

/* line 198, ../sass/partials/_header_nav.scss */
.valueLabel {
  font-weight: 600;
  font-size: 16px;
}

/* line 203, ../sass/partials/_header_nav.scss */
.navBtnControl {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  fill: #055DAE;
  background-color: #f5f5f5;
  border-radius: 15px;
  -moz-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}
/* line 214, ../sass/partials/_header_nav.scss */
.navBtnControl:hover, .navBtnControl:focus {
  background-color: #D2EAFF;
}

/* line 219, ../sass/partials/_header_nav.scss */
.appSidebar {
  height: 100%;
  -moz-transition: ease 1s;
  -o-transition: ease 1s;
  -webkit-transition: ease 1s;
  transition: ease 1s;
  position: relative;
  padding-top: 50px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 219, ../sass/partials/_header_nav.scss */
  .appSidebar {
    width: 270px;
  }
}

/* line 230, ../sass/partials/_header_nav.scss */
.appSidebarBavItem {
  margin-bottom: 5px;
}

/* line 234, ../sass/partials/_header_nav.scss */
.appSidebarBav_link {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 12px 30px 12px 30px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 0px 30px 30px 0px;
  position: relative;
}
/* line 244, ../sass/partials/_header_nav.scss */
.childNavBlock .appSidebarBav_link {
  padding-left: 70px;
}
/* line 248, ../sass/partials/_header_nav.scss */
.hasChildren > .appSidebarBav_link::before {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-flex;
  background-image: url(../img/icons/caret_down.svg);
  position: absolute;
  left: 5px;
  transform: rotate(0deg);
  top: 50%;
  bottom: auto;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-repeat: no-repeat;
}
/* line 260, ../sass/partials/_header_nav.scss */
.hasChildren > .appSidebarBav_link::before.childActive {
  transform: rotate(270deg);
}
/* line 265, ../sass/partials/_header_nav.scss */
.appSidebarBav_link.active, .appSidebarBav_link:hover, .appSidebarBav_link:focus {
  background-color: white;
  color: #055DAE;
}
/* line 270, ../sass/partials/_header_nav.scss */
.appSidebarBav_link.active {
  font-weight: 600;
}

/* line 275, ../sass/partials/_header_nav.scss */
.icon_holder {
  flex-shrink: 0;
  margin-right: 10px;
}

/* line 280, ../sass/partials/_header_nav.scss */
.navLink_label {
  position: relative;
  flex: 1;
}

/* line 285, ../sass/partials/_header_nav.scss */
.appContentMain {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 50px 0;
  overflow: auto;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 285, ../sass/partials/_header_nav.scss */
  .appContentMain {
    width: calc(100% - 270px);
  }
}

/* line 297, ../sass/partials/_header_nav.scss */
.currencyPanel {
  display: block;
  background-color: white;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 30px;
}
/* line 304, ../sass/partials/_header_nav.scss */
.currencyPanel + .currencyPanel {
  margin-top: 30px;
}

/* line 310, ../sass/partials/_header_nav.scss */
.iconBox {
  display: inline-flex;
  width: 48px;
  height: 48px;
  background-color: #f5f5f5;
  color: #052B4E;
  font-weight: 900;
  font-size: 21px;
}

/* line 320, ../sass/partials/_header_nav.scss */
.titleSubtext {
  font-weight: 400;
  color: #959595;
  font-size: .85em;
}

/* line 326, ../sass/partials/_header_nav.scss */
.currHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #d5d5d5;
}

/* line 334, ../sass/partials/_header_nav.scss */
.currBody {
  padding-top: 20px;
}

/* line 1, ../sass/partials/_sections.scss */
.appMainWrapper {
  position: relative;
  width: 100%;
  background-color: #f5f5f5;
  height: 100%;
  /* Tablets and phablets */
  /* Landscape tablets and desktop or laptops */
}
/* line 7, ../sass/partials/_sections.scss */
.appMainWrapper.is_active {
  overflow: hidden;
}
/* line 11, ../sass/partials/_sections.scss */
.appMainWrapper::before {
  /* never visible - used to check MQ in jQuery */
  display: none;
  content: 'mobile';
}
@media only screen and (min-width: 768px) {
  /* line 17, ../sass/partials/_sections.scss */
  .appMainWrapper::before {
    /* never visible - used to check MQ in jQuery */
    content: 'tablet';
  }
}
@media only screen and (min-width: 992px) {
  /* line 1, ../sass/partials/_sections.scss */
  .appMainWrapper {
    margin-top: 0;
  }
  /* line 24, ../sass/partials/_sections.scss */
  .appMainWrapper::before {
    /* never visible - used to check MQ in jQuery */
    content: 'desktop';
  }
}

/* line 31, ../sass/partials/_sections.scss */
.section_block {
  padding: 50px 0;
  display: block;
  width: 100%;
  position: relative;
}
/* line 37, ../sass/partials/_sections.scss */
.section_block .container {
  z-index: 5;
}

/* line 42, ../sass/partials/_sections.scss */
.section_header {
  position: relative;
  margin-bottom: 40px;
}

/* line 47, ../sass/partials/_sections.scss */
.title {
  line-height: 1.45;
  font-size: 14px;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 47, ../sass/partials/_sections.scss */
  .title {
    font-size: 18px;
  }
}

/* line 57, ../sass/partials/_sections.scss */
.title_sm {
  font-size: 18px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 57, ../sass/partials/_sections.scss */
  .title_sm {
    font-size: 24px;
  }
}

/* line 65, ../sass/partials/_sections.scss */
.title_md {
  font-size: 21px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 65, ../sass/partials/_sections.scss */
  .title_md {
    font-size: 32px;
  }
}

/* line 73, ../sass/partials/_sections.scss */
.title_lg {
  font-size: 32px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 73, ../sass/partials/_sections.scss */
  .title_lg {
    font-size: 42px;
  }
}

/* line 81, ../sass/partials/_sections.scss */
.page_header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 81, ../sass/partials/_sections.scss */
  .page_header {
    align-items: center;
    justify-content: space-between;
  }
}

/* line 92, ../sass/partials/_sections.scss */
.pryControlHolder {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  /* Mobile devices */
  /* Tablets and phablets */
}
@media only screen and (max-width: 575px) {
  /* line 92, ../sass/partials/_sections.scss */
  .pryControlHolder {
    margin-top: 15px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 92, ../sass/partials/_sections.scss */
  .pryControlHolder {
    justify-content: flex-end;
  }
}

/* line 105, ../sass/partials/_sections.scss */
.pageControlItem + .pageControlItem {
  margin-left: 20px;
}

/* line 109, ../sass/partials/_sections.scss */
.formPanel {
  background-color: white;
  min-height: 400px;
  border-radius: 20px;
  padding: 40px 20px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 109, ../sass/partials/_sections.scss */
  .formPanel {
    padding: 40px;
  }
}

/* line 1, ../sass/partials/_user_area.scss */
.media_item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
}

/* line 6, ../sass/partials/_user_area.scss */
.media_figure {
  position: relative;
  flex-shrink: 0;
  margin-right: 20px;
}

/* line 12, ../sass/partials/_user_area.scss */
.media_info {
  flex: 1;
}

/* line 16, ../sass/partials/_user_area.scss */
.userAvi {
  width: 45px;
  height: 45px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  vertical-align: middle;
  box-sizing: border-box;
  flex: 0 0 auto;
  font-size: 1em;
}
/* line 27, ../sass/partials/_user_area.scss */
.userAvi + .user_info {
  margin-left: 15px;
}
/* line 31, ../sass/partials/_user_area.scss */
.userAvi img {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 1;
  border-radius: inherit;
  text-indent: 9999;
  background-color: #D2EAFF;
  font-size: 0;
  color: transparent;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/* line 46, ../sass/partials/_user_area.scss */
.iconBox {
  width: 48px;
  height: 48px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  vertical-align: middle;
  box-sizing: border-box;
  flex: 0 0 auto;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  place-content: center;
  background-color: #f5f5f5;
}

/* line 63, ../sass/partials/_user_area.scss */
.iconBox_failed {
  background-color: #FFDEE0;
}

/* line 67, ../sass/partials/_user_area.scss */
.iconBox_success {
  background-color: #E4FBEF;
}

/* line 71, ../sass/partials/_user_area.scss */
.avi_avg {
  height: 32px;
  width: 32px;
}

/* line 76, ../sass/partials/_user_area.scss */
.avi_sm {
  height: 24px;
  width: 24px;
  font-size: 11px;
}

/* line 82, ../sass/partials/_user_area.scss */
.avi_md {
  width: 48px;
  height: 48px;
  font-size: 16px;
}

/* line 88, ../sass/partials/_user_area.scss */
.avi_lg {
  width: 64px;
  height: 64px;
  font-size: 21px;
}

/* line 94, ../sass/partials/_user_area.scss */
.default_avi {
  width: 100%;
  height: 100%;
  background-color: #D2EAFF;
  text-transform: uppercase;
  color: #055DAE;
  font-weight: bold;
  border-radius: inherit;
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 111, ../sass/partials/_user_area.scss */
.user_info {
  font-size: 13px;
  overflow: hidden;
  width: 100%;
  text-align: left;
  color: #757575;
}

/* line 1, ../sass/partials/_dialogs.scss */
.dropdown-menu {
  font-size: 1em;
  box-sizing: border-box;
  z-index: 1000;
  max-width: 460px;
  padding: 10px 0;
  margin: 0;
  border-radius: 5px;
  background-color: white;
  color: #353535;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  -webkit-animation: panel-slide-down .6s ease-in-out forwards;
  animation: panel-slide-down .6s ease-in-out forwards;
  overflow: hidden;
  border: none;
}
/* line 18, ../sass/partials/_dialogs.scss */
.dropdown-menu.profile_dropdown {
  min-width: 240px;
}
/* line 22, ../sass/partials/_dialogs.scss */
.dropdown-menu.show {
  visibility: visible;
}
/* line 26, ../sass/partials/_dialogs.scss */
.dropdown-menu li {
  display: block;
  padding: 0;
  margin: 0;
}
/* line 31, ../sass/partials/_dialogs.scss */
.dropdown-menu li > *, .dropdown-menu li > a {
  padding: 10px 15px;
  display: flex;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: normal;
  align-items: center;
  white-space: nowrap;
}
/* line 42, ../sass/partials/_dialogs.scss */
.dropdown-menu li > *:hover, .dropdown-menu li > a:hover {
  background: #f5f5f5;
  color: #055DAE;
}

/* line 50, ../sass/partials/_dialogs.scss */
.caret {
  display: inline-flex;
  margin-left: 10px;
}
/* line 54, ../sass/partials/_dialogs.scss */
.caret:after {
  vertical-align: .255em;
  content: "";
  border-top: .4em solid;
  border-right: .35em solid transparent;
  border-bottom: 0;
  border-left: 0.35em solid transparent;
}

@keyframes panel-slide-down {
  0%,30% {
    margin-top: -15px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
/* line 75, ../sass/partials/_dialogs.scss */
.dropdown-toggle::after {
  display: none;
}

/* line 79, ../sass/partials/_dialogs.scss */
.tooltip .arrow::before {
  border-top-color: #052B4E !important;
}

/* line 83, ../sass/partials/_dialogs.scss */
.tooltip-inner {
  font-size: 12px;
  background-color: #052B4E;
  border-radius: 5px;
  padding: 6px 12px;
}

/* line 90, ../sass/partials/_dialogs.scss */
.modal-backdrop {
  background-color: black;
  display: none;
}

/* line 95, ../sass/partials/_dialogs.scss */
.modal-content {
  border-radius: 15px;
}

/* line 99, ../sass/partials/_dialogs.scss */
.modal-dialog {
  z-index: 2000;
  max-width: 520px;
  /* Tablets and phablets */
}
@media only screen and (max-width: 767px) {
  /* line 99, ../sass/partials/_dialogs.scss */
  .modal-dialog {
    margin-right: 15px;
    margin-left: 15px;
  }
}

/* Landscape tablets and desktop or laptops */
@media only screen and (min-width: 992px) {
  /* line 110, ../sass/partials/_dialogs.scss */
  .modal-sm {
    max-width: 370px;
  }

  /* line 114, ../sass/partials/_dialogs.scss */
  .modal-md {
    max-width: 520px;
  }
}
/* line 119, ../sass/partials/_dialogs.scss */
.modal {
  z-index: 3000;
}
/* line 122, ../sass/partials/_dialogs.scss */
.modal-open .modal {
  background-color: rgba(0, 0, 0, 0.9);
  padding: none !important;
}
/* line 127, ../sass/partials/_dialogs.scss */
.modal .modal-header {
  border-bottom: none;
  padding: 20px 15px 0;
  justify-content: flex-start;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 127, ../sass/partials/_dialogs.scss */
  .modal .modal-header {
    padding-left: 30px;
    padding-right: 30px;
  }
}
/* line 138, ../sass/partials/_dialogs.scss */
.modal .modal-body {
  position: relative;
  padding: 30px 15px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 138, ../sass/partials/_dialogs.scss */
  .modal .modal-body {
    padding-left: 30px;
    padding-right: 30px;
  }
}
/* line 148, ../sass/partials/_dialogs.scss */
.modal .subtitle {
  margin-bottom: 20px;
  display: block;
}
/* line 153, ../sass/partials/_dialogs.scss */
.modal .content-panel {
  min-height: 250px;
}
/* line 157, ../sass/partials/_dialogs.scss */
.modal .modal-footer {
  border-top: none;
  background-color: #f5f5f5;
  border-radius: 0 0 15px 15px;
}

/* line 164, ../sass/partials/_dialogs.scss */
.modal-title {
  font-size: 18px;
}

/* Tables */
/* line 169, ../sass/partials/_dialogs.scss */
table {
  width: 100%;
}

/* line 174, ../sass/partials/_dialogs.scss */
.table {
  margin-bottom: 0;
}
/* line 177, ../sass/partials/_dialogs.scss */
.table > :not(:first-child) {
  border-top: none;
}
/* line 183, ../sass/partials/_dialogs.scss */
.table > thead > tr > td, .table > thead > tr > th, .table tbody > tr > td, .table tbody > tr > th, .table tfoot > tr > td, .table tfoot > tr > th {
  color: inherit;
  border: none;
  padding: 8px 10px;
  vertical-align: middle;
}
/* line 193, ../sass/partials/_dialogs.scss */
.table > thead > tr > th {
  border-bottom: 1px solid #d5d5d5;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: #959595;
}
/* line 202, ../sass/partials/_dialogs.scss */
.table .table {
  background-color: transparent;
}

/* line 207, ../sass/partials/_dialogs.scss */
.table-responsive {
  border: none;
  /* Landscape tablets and desktop or laptops */
}
@media only screen and (min-width: 992px) {
  /* line 207, ../sass/partials/_dialogs.scss */
  .table-responsive {
    overflow: visible;
  }
}

/* line 216, ../sass/partials/_dialogs.scss */
.table-hover > tbody > tr {
  cursor: pointer;
  background-color: white;
  border-bottom: 1px solid #f5f5f5;
  -moz-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: all 0.4s ease-in-out 0s;
}
/* line 222, ../sass/partials/_dialogs.scss */
.table-hover > tbody > tr:hover {
  background-color: #E5E5E5;
}

/* line 229, ../sass/partials/_dialogs.scss */
.propTable > tbody > tr {
  background-color: white;
  border-bottom: 1px solid #f5f5f5;
}
/* line 234, ../sass/partials/_dialogs.scss */
.propTable > tfoot > tr {
  border-bottom: none;
}
