.LogoHolder {
    display: block;

    img {
        display: inline-block;
        max-width: 96px;
    }
}

.error_message {
    width: 100%;
    background-color: #FFDEE0;
    color: $brand_black;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: inset 4px 0 0 $brand_red;
    margin-bottom: 20px;
}

.altAuthOptionItem {
    display: block;
    
    + .altAuthOptionItem {
        margin-top: 10px;
    }
}

.altAuthOptionBtn {
    width: 100%;
    @include flexbox();
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 14px;
    background-color: $brand_black;
    border: 1px solid $border_grey_light;

    &:hover, &:focus {
        border-color: $brand_primary;
        background-color: $brand_primary_light;
        color: $color_text_darker;
    }
}

.altOptionGoogle {
    background-color: white;
    color: $color_text;
}

.altAuthOptionBtn_wrp {
    @include flexbox();
    align-items: center;

    .cust_icon {
        flex-grow: 0;
        margin-right: 10px;
    }
}

.panel_bridge {
    border-top: 1px solid $border_grey_light;
    padding-top: 20px;
    margin-top: 20px;
}