/***** LOGIN BG**********/

.appMainWrapper.login-bg {
    background: url(../../img/bg.png) no-repeat center;
    background-size: cover;
    height: 100vh;
    padding: 50px 135px;
    justify-content: flex-end;
    @include MQ(XL) {
        height: 150vh;
    }
}

.overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.img_container {
    width: 64px;
    height: 64px;
    @include MQ(M) {
        width: 96px;
        height: 96px;
    }
}

.logo-position {
    width: 64px;
    position: absolute;
    top: 30px;
    left: 20px;
    @include MQ(M) {
        width: auto;
        top: 50px;
        left: 135px;
    }
}


/**********LOGIN FORM*******/

.login_form {
    position: absolute;
    border-radius: 0;
    right: 0;
    bottom: 0;
    @include MQ(M) {
        right: 100px;
        bottom: 200px;
        border-radius: 25px;
        box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
    }
    @include MQ(L) {
        top: 135px;
        right: 135px;
        bottom: 135px;
        border-radius: 25px;
        box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
    }
    @include MQ(XL) {
        height: 560px;
    }
}


/**********forgot password *************/

.img_Wrapper {
    width: 100%;
    @include flexbox();
    align-items: center;
    justify-content: flex-start;
    @include MQ(M) {
        width: 600px;
    }
}

.pwd-Container {
    @include flexbox();
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.pwd_form {
    position: static;
    @include MQ(M) {
        border-radius: 25px;
        box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
    }
}

.btn-Container {
    @include flexbox();
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*************RESET PASSWORD CONFIRMATION*************/

.confirmMsg_wrapper {
    width: 100%;
    @include flexbox();
    align-items: center;
    justify-content: flex-start;
}

.confirmMsg {
    border-radius: 10px;
}

.msg-imgContainer {
    width: auto;
}

.msg-Container {
    @include flexbox();
    align-items: center;
    justify-content: flex-start;
}


/*********CHANGE PASSWORD ***********/

.btnChange-Container {
    @include flexbox();
    align-items: center;
    justify-content: flex-end;
}