/* SVG Icon systems */
.cust_icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  overflow: hidden;
  vertical-align: middle;
  fill: inherit;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

svg {
    display: inline-block;
    width: 100%;
}

.icon_xs {
  width: 16px;
  height: 16px;
}

.icon_sm {
  width: 32px;
  height: 32px;
}

.icon_md {
  width: 24px;
  height: 24px;

  @include MQ(M) {
    width: 48px;
    height: 48px;
  }
}

.icon_lg {
  width: 64px;
  height: 64px;
}

.icon_xl {
    width: 64px;
    height: 64px;

    @include MQ(M) {
      width: 128px;
      height: 128px;
    }
}

.icon_upload {
  background-image: url(../img/icons/cloud_upload.svg);
}

.icon_user {
  background-image: url(../img/icons/auth_person_ico.svg);
}

.icon_lock {
  background-image: url(../img/icons/auth_pass_ico.svg);
}

.icon_info {
  background-image: url(../img/icons/error-warning.svg);
}

.icon_google {
  background-image: url(../img/icons/google_ico.svg);
}

.icon_chevron_right {
  background-image: url(../img/icons/chevron-right.svg);
}

.icon_help {
  background-image: url(../img/icons/help_outline.svg);
}

.icon_editProfile {
  background-image: url(../img/icons/profileSettings.svg);
}

.propIcon {
  display: block;
  margin-bottom: 40px;

  img {
    max-width: 128px;
    display: inline-block;
  }
}