header[role="banner"] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header_height;
    z-index: $header-zindex;
    @include font-smoothing;

    [class*="container"] {
        height: 100%;
        position: relative;
    }
}

.mainAppHeader {
    @include transform(translate3d(0, 0, 0));
    @include backface-visibility(hidden);
    border-bottom: 1px solid $border_grey;
    background-color: white;
    
    @include MQ(M) {
        display: none;
    }

}

.navbarWrapper {
    @include flexbox();    
    z-index: 1;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.navbarGroupItem {
    width: auto;
    height: 100%;
    display: block;
    @include flexbox();
    align-items: center;
    position: relative;
}

.navBarItemLeft {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    z-index: 5;
    float: left;
    flex-shrink: 0;

    > * + * {
        padding-left: 20px;
    }
}

.navBarItemRight {
    float: right;
    justify-content: flex-end;
    z-index: 5;
    flex-shrink: 0;
}

.navBarItemCenter {
    flex-grow: 1;
    justify-content: center;

    @include MQ-MAX(L) {
        width: 100%;
    }
}

.sidbarLogoHolder {
    clear: both;
    padding: 0 20px 30px;

    @include MQ-MAX(M) {
        display: none;
    }
}

.brand_img {
    display: block;
    
    header[role="banner"]  &{
        height: $header_height;
    }
}

.logo_link {
    padding: 0;
    display: inline-block;
    position: relative;
    height: 100%;

    .mainAppHeader & {
        width: 42px;
        line-height: $header_height;
    }
        
    >img {
        vertical-align: middle;
        display: inline-block;
    }
}

.navControlBtn {
    position: relative;
    margin-right: 20px;
}

.primary-nav-trigger {
    position: relative;
}

.menu-icon {
    /* this span is the central line of the menu icon */
    display: block;
    width: 24px;
    height: 2px;
    position: relative;
    background-color: $brand_black;
    @include transition(background-color .6s);
    /* these are the upper and lower lines in the menu icon */
    &::before,
    &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: $brand_black;
        right: 0;
        @include transition(transform .6s, top .6s, background-color 0s);
    }
    &::before {
        top: -7px;
    }
    &::after {
        top: 7px;
    }
    &.is-clicked {
        background-color: rgba($brand_black, 0);
        &::before,
        &::after {
            background-color: rgba($brand_black, 1);
        }
        &::before {
            top: 0;
            @include transform(rotate(135deg));
        }
        &::after {
            top: 0;
            @include transform(rotate(225deg));
        }
    }
}

.menu-text {
    font-size: 9px;
    display: none;
}

// SidebarNavigation
.appLayoutWrapper {
    margin: 0 auto;
    height: 100%;
    height: 100vh;
    @include flexbox();
    @include transition(1s ease);
    overflow: hidden;
}
  
.mainSidebar {
    height: 100%;
    position: relative;
    background-color: white;
    @include transition(all .6s cubic-bezier(.68, .34, .15, 1));
    transform-origin: left;
    width: 270px;

    @include MQ-MAX(M) {
        left: 0;
        position: fixed;
        height: 100%;
        height: 100vh;
        visibility: hidden;
        opacity: 0;
        top: $header_height;
        flex-direction: column;
        @include transform(scaleX(0));
    }

    .is-active & {
        @include transform(scaleX(1));
        visibility: visible;
        opacity: 1;
        z-index: 10;
        @include transition(transform .8s cubic-bezier(.68, .34, .15, 1));
    }
}
  
.mainContentWrapper {
    width: 100%;
    height: 100%;
    @include transition(1s ease);
    overflow: auto;

    @include MQ(M) {
        width: calc(100% - 270px);
    }
}

.sidebarNavWrapper {
    height: 100%;
    overflow: auto;
    position: relative;
}

.sidebarMainHolder{
    width: 100%;
    padding: 30px 0;
    position: relative;
}

.navBarContainer {
    padding: 0 20px 15px;
}

.sidebarNavItem {
    display: block;

    + .sidebarNavItem {
        margin-top: 5px;
    }
}

.sidebarItem_link {
    @include flexbox();
    align-items: center;
    padding: 10px 20px 10px 20px;
    background-color: transparent;
    font-size: 14px;
    color: $border_grey_dark;
    fill: $border_grey_dark;
    position: relative;
    @include transition(.4s all ease-in-out 0s);

    .active > &, &:hover, &:focus {
        color: $brand_black;
        fill: $brand_primary;
        font-weight: 600;
    }

    .active > & {
        background-color:$brand_primary_light;
    }
}

.navItemIcon {
    flex-shrink: 0;
    margin-right: 10px;
}