.media_item {
    @include flexbox();
    overflow: hidden;
    @include MQ-MAX(S) {
        &.profileMast {
            flex-direction: column;
            align-items: center;
        }
    }
}

.media_figure {
    position: relative;
    flex-shrink: 0;
    margin-right: 20px;
    &.profilveAvi {
        margin-bottom: 20px;
        margin-right: 0;
        @include MQ(S) {
            margin-right: 30px;
        }
    }
}

.media_info {
    flex: 1;
    @include MQ-MAX(S) {
        &.profileSummary {
            text-align: center;
        }
    }
}

.userAvi {
    width: 45px;
    height: 45px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    vertical-align: middle;
    box-sizing: border-box;
    flex: 0 0 auto;
    font-size: 1em;
    +.user_info {
        margin-left: 15px;
    }
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: auto;
        border-radius: inherit;
        text-indent: 9999;
        background-color: $brand_primary_light;
        font-size: 0;
        color: transparent;
        @include center(xy);
    }
}

.iconBox {
    width: 48px;
    height: 48px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    vertical-align: middle;
    box-sizing: border-box;
    flex: 0 0 auto;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    place-content: center;
    background-color: $color_white;
}

.iconBox_failed {
    background-color: $brand_red_light;
}

.iconBox_success {
    background-color: $brand_primary_light;
}

.avi_avg {
    height: 32px;
    width: 32px;
}

.avi_sm {
    height: 24px;
    width: 24px;
    font-size: 11px;
}

.avi_md {
    width: 48px;
    height: 48px;
    font-size: 16px;
}

.avi_lg {
    width: 64px;
    height: 64px;
    font-size: 21px;
}

.avi_xl {
    width: 96px;
    height: 96px;
    @include MQ(M) {
        width: 128px;
        height: 128px;
    }
}

.default_avi {
    width: 100%;
    height: 100%;
    background-color: $brand_primary;
    text-transform: uppercase;
    color: $color_white;
    font-weight: bold;
    border-radius: inherit;
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_info {
    font-size: 13px;
    overflow: hidden;
    width: 100%;
    text-align: left;
    color: $color_grey_dark;
}

.signFlex {
    @include flexbox();
    align-items: center;
    justify-content: center;
    @include MQ(M) {
        align-items: flex-start;
        justify-content: flex-end;
    }
}

.userAvi_overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    @include flexbox();
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
        position: relative;
        width: 27px;
        height: 24px;
        background-color: transparent;
    }
}

.userAvi_link {
    color: $color_white;
    width: 100%;
    text-align: center;
}

.summary_row {
    padding: 8px 0 8px;
}

.summary_rowEven {
    padding: 8px 0 8px;
}

.summary_row:nth-child(odd) {
    background-color: $color_white;
}

.profile_padBottom {
    padding-bottom: 32px;
}

.printHeader {
    @include flexbox();
    align-items: flex-start;
}

.brand_logoPos {
    @include flexbox();
    justify-content: center;
    @include MQ(M) {
        justify-content: flex-start;
    }
}

.titlePos {
    @include flexbox();
    flex-direction: column;
    justify-content: center;
}

.userAviPos {
    @include flexbox();
    justify-content: center;
    @include MQ(M) {
        justify-content: flex-end;
    }
}

.titlePadTOp {
    padding-top: 8px;
}

.titlePad_y {
    padding: 24px 0;
}

.title-postion-sm {
    text-align: left;
    @include MQ(M) {
        text-align: right;
    }
}

.titleValue-position-sm {
    text-align: left;
    @include MQ(M) {
        text-align: left;
    }
}

.printRow {
    @include flexbox();
    justify-content: space-between;
}

.profileCol {
    @include MQ(M) {
        width: 49%;
    }
}